<!-- Prioridade de substituição na ordem: -->

<!-- 3)inLink(url) =>  -->
<link href="./style.css" rel="stylesheet" />

<!-- 2)inStyle(in file) =>  -->
<style>
    
    #box {
        width: 600px;height: 400px; 
        background-color:green
    }

    .box {
        width: 400px;height: 400px; 
        background-color:pink;
    }

    div {background-color:black};
    
</style>

<!-- 1)inLine(tag) =>  -->
<!-- style="background-color:blue" -->
<div id="box" class="box"></div>

<div class="box"></div>
